In [44]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 第一題_算閏年

In [53]:
def leap(year):
    if((year%4 == 0 and year%100 != 0)or year%400 == 0):
        print("{}是閏年\n".format(year))
    else:
        print("{}不是閏年\n".format(year))

In [54]:
leap(2020)
leap(2000)
leap(2001)
leap(4)

2020是閏年

2000是閏年

2001不是閏年

4是閏年

# 第二題_請實作五乘五矩陣的矩陣加法函式

In [55]:
def matrix_plus(m1,m2):
    return np.array(m1)+np.array(m2)

In [62]:
m1 = np.random.rand(5,5)
m2 = np.random.rand(5,5)

In [64]:
m_sum = matrix_plus(m1,m2)
m_sum

array([[1.11031615, 0.8545196 , 0.89989935, 1.32329866, 0.77744455],
       [1.15572834, 1.62518506, 0.98240966, 0.91404617, 1.28443621],
       [0.53790753, 0.65183276, 0.45110669, 0.9789953 , 1.33714124],
       [0.60921574, 1.24245899, 1.63166494, 1.26356031, 0.51573722],
       [1.08100439, 0.0602656 , 0.69055486, 0.66855096, 0.26669538]])

# 第三題_錄取分數表格

In [68]:
score = np.array([86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6])
college = {
"土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
"財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
"金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
"國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
"會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
"法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
"公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
"應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
"教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]
}

In [73]:
data = []
index = []
column =  ['國文', '英文', '數甲', '數乙', '物理', '化學', '生物', '歷史', '地理', '公民']
for i in college:
    index.append(i)
    data.append(college[i])
df = pd.DataFrame(data,index=index,columns=column)

In [80]:
df["加權分數"] = (df[column]*score).sum(1)

In [81]:
df

      國文   英文   數甲    數乙  物理  化學  生物  歷史  地理    公民     加權分數
土語系  2.0  2.0  0.0  1.00   0   0   0   1   1  0.00  589.200
財政系  1.0  1.5  0.0  1.50   0   0   0   0   0  0.00  350.350
金融系  1.0  1.5  0.0  2.00   0   0   0   0   0  0.00  398.600
國貿系  1.5  2.0  0.0  2.00   0   0   0   0   0  0.00  481.550
會計系  1.5  2.0  0.0  2.00   0   0   0   1   1  0.00  642.450
法律系  1.0  2.0  0.0  1.00   0   0   0   1   0  1.00  508.900
公行系  1.0  1.5  0.0  1.25   0   0   0   0   0  1.25  436.975
應數系  1.0  1.0  1.5  0.00   1   1   0   0   0  0.00  461.300
教育系  1.5  2.0  0.0  1.25   0   0   0   1   1  0.00  570.075

# 挑戰題一_Bubble Sort

In [105]:
def bubble_sort(x):
    for i in range(len(x)-1):
        for j in range(len(x)-1-i):
            if x[j]>x[j+1]:
                temp = x[j]
                x[j] = x[j+1]
                x[j+1] = temp

In [107]:
data = list(range(1,20))
np.random.shuffle(data)
print("data before sorting : \n{}\n".format(data))
bubble_sort(data)
print("data after sorting : \n{}".format(data))

data before sorting :
[13, 14, 17, 7, 4, 6, 10, 19, 15, 16, 5, 2, 3, 11, 1, 12, 9, 8, 18]

data after sorting :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]